extends layout

block content
  .col-md-6
    .card
      .card-header
        strong Users List
      .card-body.card-block
        .text-center
          table.table
            thead
              tr
                th(scope='col') First Name
                th(scope='col') Name
                th(scope='col') email
            tbody
              for u in users
                tr(id='usersList')
                  td= u.firstName
                  td= u.name
                  td= u.email
  .col-md-6
    .card
      .card-header
        strong Groups List
      .card-body.card-block
        .text-center
          table.table
            thead
              tr
                th(scope='col') Nom Groupe
                th(scope='col') Gestionnaire
                th(scope='col') Users
                th(scope='col') Actions
            tbody
              for g in groups
                tr(id='groupList')
                  td= g.name
                  td= g.gestionnaire
                  td
                    button.btn.btn-danger.btn-sm(type='take')
                      i.fa.fa-trash
              tr
                form(action='/administration/new', method='POST',id='groupform')
                  td
                    input.form-control(type='text', name='nomgrp', placeholder='NomGroupe')
                  td
                    input.form-control(type='text', name='gestionnairegrp', placeholder='Moi')
                  td
                    select.form-control(name='usersgrp', multiple='multiple')
                      for u in users
                        option(value='#{u.name}')= u.name
                  td.t(style='width:20%')
                    button.btn.btn-success.btn-sm(type='submit', form='groupform')
                      i.fa.fa-check
                    button.btn.btn-danger.btn-sm(type='reset', form='groupform')
                      i.fa.fa-times
  .col-md-6
    .card
      .text-center
        .card-header
          strong Notifications
        form.form-horizontal(action='', method='post')
          .card-body.card-block
            .row.form-group
              .col.col-md-12
                .input-group
                  select#select.form-control.col-md-3(name='select')
                    option(value='0') Info
                    option(value='1') Check
                    option(value='2') Warning
                    option(value='3') Error
                  input.form-control(type='text', name='lib', placeholder='Text')
          .card-footer
            button.btn.btn-success.btn-sm(type='submit')
              i.fa.fa-check
              |  Submit
            button.btn.btn-danger.btn-sm(type='reset')
              i.fa.fa-times
              |  Reset