extends layout

block content
  .col-md-4
    .card
      .card-header
        strong Users List
      .card-body.card-block
        .text-center
          table.table
            thead
              tr
                th(scope='col') First Name
                th(scope='col') Name
                th(scope='col') Email
            tbody
              for u in users
                tr(id='usersList')
                  td= u.firstName
                  td= u.name
                  td= u.email
  .col-md-8
    .card
      .card-header
        strong Groups List
      .card-body.card-block
        .text-center
          table.table
            thead
              tr
                th(scope='col') Group Name
                th(scope='col') Group Manager
                th(scope='col') Users
                th(scope='col') Actions
            tbody
              for g in groups
                tr(id='groupList')
                  td= g.name
                  td= g.gestionnaire
                  td.t(style='width:40%') #{g.users}
                  td
                    button.btn.btn-danger.btn-sm(type='take')
                      i.fa.fa-trash
              tr
                form(action='/administration/new', method='POST',id='groupform')
                  td
                    input.form-control(type='text', name='nomgrp', placeholder='Name')
                  td
                    input.form-control(type='text', name='gestionnairegrp', placeholder='#{usermail}', value="#{usermail}", disabled)
                  td
                    select.form-control(name='usersgrp', multiple='multiple')
                      for u in users
                        option(value='#{u.email}')= u.email
                  td.t(style='width:15%')
                    button.btn.btn-success.btn-sm(type='submit', form='groupform').t(style="margin-right:5px")
                      i.fa.fa-check
                    button.btn.btn-danger.btn-sm(type='reset', form='groupform')
                      i.fa.fa-times
  .col-md-4
    .card
      .card-header
        strong Account Creation (by .csv)
      .card-body.card-block
        .text-center
          form(action='/administration/accountCreation', method='POST', enctype='multipart/form-data', id='fileUp')
            input(type="file", id="avatar", name="myFile")
            br
            br
        button.btn.btn-success.btn-lg.btn-block(type='submit', form='fileUp') Upload